img {
  height: 300px;
}

body {
  text-align: center;
}
body {
  background-color: rgb(224, 249, 223);
}
article {
  color: rgb(221, 141, 154);
}
header {
  color: rgb(118, 54, 65);
}

link {
  text-align: center;
}
Footer {
  color: rgb(118, 54, 65);
}
